@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
 font-family: 'Poppins', sans-serif;

}

h1{
 font-weight: 800;
}
h2, h4{
 font-weight: 600;
}
h3, h5{
 font-weight: 500;
}

.newsletter {
 padding: 80px 0;
 background: #19beda;
 }
 
 .newsletter .content {
 max-width: 600px;
 margin: 0 auto;
 text-align: center;
 position: relative;
 z-index: 2; 
}

 .newsletter .content .form-control {
 height: 50px;
 border-color: #ffffff;
 border-radius:0;
 }

 .newsletter .content .btn {
 min-height: 50px; 
 }
